/* Katie Nordberg 9/13/2021 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.highlight {
  background-color: var(--accent-color);
}

ul {
  list-style: circle;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100vw;
  min-height: 5vh;
  background-color: var(--dark-accent-color);
  display: flex;
  flex-direction: column;
}

.credits {
  margin: auto;
  text-align: center;
  color: white;
  font-family: monospace;
}

input, label {
  font-family: monospace;
}

form {
  display: flex;
  flex-direction: column;
}
