/* Katie Nordberg 9/14/2021 */
#container {
  width: 100vw;
  height: 0;
  top: 0;
  position: fixed;
  background-color: var(--main-bg-color);
  overflow: hidden;
  transition: height 1s;
  transition: width 0s;
}

#cellContainer {
  width: 50%;
  padding: 2rem;
  height: min-content;
  margin: auto;
  text-align: left;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  border: 2px solid var(--accent-color);
  overflow-wrap: break-word;
  word-break: break-word;
  hyphens: auto;
}

#closeCellContainer {
  right: 0;
  top: 0;
  margin-right: 1rem;
  font-family: 'Courier New';
  font-size: 4rem;
  position: absolute;
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
}
